<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New NervousSystem</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @nervoussystem.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">Id: </td>
                <td class="itemValue"><input type="text" name="nervoussystem[id]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Epilepsy: </td>
                <td class="itemValue"><input type="text" name="nervoussystem[epilepsy]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Paralysis: </td>
                <td class="itemValue"><input type="text" name="nervoussystem[paralysis]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Insanity: </td>
                <td class="itemValue"><input type="text" name="nervoussystem[insanity]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Nervousbreakdown: </td>
                <td class="itemValue"><input type="text" name="nervoussystem[nervousbreakdown]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Alzheimer: </td>
                <td class="itemValue"><input type="text" name="nervoussystem[alzheimer]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Multiplesclerosis: </td>
                <td class="itemValue"><input type="text" name="nervoussystem[multiplesclerosis]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Parkinson: </td>
                <td class="itemValue"><input type="text" name="nervoussystem[parkinson]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
