<div data-role="page">
<div data-role="header" data-position="inline">
<h1>Hello Agent! </h1>
</div>
<div data-role="content">
   <ul data-role="listview">
      <li><a href="DentalIssues"> Dental Issues </a></li>
      <li><a href="Lungs"> Lung Diseases  </a></li>
<li><a href="HeartBlood"> Blood and Heart Diseases  </a></li>
<li><a href="Stomach">  Stomach Diseases  </a></li>
<li><a href="ExcretarySystem"> Excretary System Problems  </a></li>
<li><a href="NervousSystem"> Nervous System Disorders  </a></li>
<li><a href="BodyStructure"> Body Structure Ailments  </a></li>
<li><a href="Diabetes"> Diabetes  </a></li>
<li><a href="OtherDiseases"> Other Diseases  </a></li>
<li><a href="BodilyDefects"> Bodily Defects  </a></li>
   </ul>
</div>