<div data-role="page">
<div data-role="header" data-position="inline">
<h1>Hello Agent! </h1>
</div>
<div data-role="content">
   <ul data-role="listview">
      <li><a href="DisplayJeevanAnand.erb"> Jeevan Anand </a></li>
      <li><a href="DisplayAnmolJeevan.erb"> Anmol Jeevan  </a></li>
   </ul>
</div