<div data-role="page">
<div data-role="header" data-position="inline">
<h1>Hello Agent! </h1>
</div>
<div data-role="content">
   <ul data-role="listview">
      <li><a href="GeneralHealth"> General Health </a></li>
      <li><a href="Narcotics">  Narcotics  </a></li>
       <li><a href="FamliyHistory">  Family History  </a></li>
         <li><a href="FemaleSection">  Female Section  </a></li>
         <li><a href="Diseases.erb">  Diseases  </a></li>
   </ul>
</div>