<div data-role="page">
<div data-role="header" data-position="inline">
<h1>Hello Agent! </h1>
</div>
<div data-role="content">
   <ul data-role="listview">
      <li><a href="PersonalForm/new">Personal Form </a></li>
      <li><a href="FinancialForm">Financial Form </a></li>
      <li><a href="HealthForm.erb">Health Form </a></li>
   </ul>
</div>