<div data-role="page">
<div data-role="header" data-position="inline">
<h1>Hello Agent! </h1>
</div>
<div data-role="content">
   <ul data-role="listview">
      <li><a href="<%= url_for :action => :DisplayJeevanAnand %>"> Jeevan Anand </a></li>
      <li><a href="<%= url_for :action => :DisplayAnmolJeevan %>"> Anmol Jeevan  </a></li>
   </ul>
</div