<div data-role="page">
<div data-role="header" data-position="inline">
<h1>Hello Agent! </h1>
<a href="<%= url_for :action => :syncit %>" class="ui-btn-right" data-icon="sync"> Sync </a>
</div>
<div data-role="content">
   <ul data-role="listview">
      <li><a href="<%= url_for :action => :CreateNewPolicy %>">Create a New Policy!</a></li>
      <li><a href="<%= url_for :action => :DispPolicy %>">Display Policies</a></li>
     
   </ul>
</div>